header {
  padding: 1rem 2rem;
  background: #3b5998;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: #fff;
}

.map-img {
  width: 100%;
}

.covid-img {
  width: 370px;
  margin-bottom: 5%;
}

@media (max-width: 768px) {
  .covid-img {
    width: 300px;
  }
}

@media (max-width: 576px) {
  .covid-img {
    width: 250px;
  }
}

footer {
  text-align: center;
  margin: 3%;

}